/* Body */
body {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:  #f0f0f0;
}
/* header */
header {
  padding: 20px;
  color: white;
  background-color: teal;
}

/* Form */
form {padding: 20px; 
margin: 30px auto;
width: 300px;
border-radius: 8px;
box-shadow:0 2px 8px rgba(0, 0, 0, 0.1) ;
background-color: white;}

/* label */
label {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  display: block;
}
/* Input and Select */
input ,select {
  margin-top: 5px;
  padding: 8px;
  width:100% ;
  border-radius: 5px;
  border: 1px solid #ccc;
   font-size: 14px;
}

/* Button */
button {
   margin-top: 15px;
padding: 10px;
width: 100%;
border-radius: 5px;
border :none;
font-size: medium;
background-color: teal;
color: white;
cursor: pointer;
}
button:hoverP{
  background-color: darkcyan;
}

/* Result */
#result {
  padding: 15px;
  margin: 10px auto 30px;
  width: 300px;
  border-radius: 8px;
  color:white ;
  background-color: teal;
  font-size: medium;
  font-weight: 600;
}
