body {
  margin:0 ;
  padding: 0%;
  background-color: antiquewhite;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header */
 header {padding: 20px;
background-color: teal;
color: whitesmoke;}

/* Section */
section {
  margin: 0%;
  padding: 0%;
  background-color: whitesmoke;
  width: 320px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0, 0, 0 0.1);
}

/* Label */
label {
  display: block;
  text-align: center;
  margin-top: 10px;
}

input,select, button {
  width: 100%;
  margin-top: 5px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid black;
}
